<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>{% block title %}Bienvenue Petit Padawan!{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/padawan.css') }}">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/starter-template.css') }}" rel="stylesheet">
    {% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-navbar-padawan fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">PADAWAN PROJECT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">



            <li class="nav-item active">
                <a class="nav-link" href="{{ path('project_add') }}">Déposer un projet <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('projects') }}">Voir les derniers projets</a>
            </li>


        </ul>

        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="#">Bienvenue {{ app.user.username }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('logout') }}">Quitter</a>
                </li>
                {% else %}
                <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_register') }}">Devenir un Padawan</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
{% include('partials/messages.html.twig') %}

{% block body %}{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>